.container-fluid,
.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 98%;
}

.container { max-width: 75rem; } // 1200px

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}

[class*="col-"] {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  position: relative;
}

@for $i from 1 to 13 {

  .col-#{$i} {
    width: $i / 12 * 100%;
    max-width: $i / 12 * 100%;
  }

}

@media (min-width: 30rem) { // 480px

  @for $i from 1 to 13 {

    .col-sm-#{$i} {
      width: $i / 12 * 100%;
      max-width: $i / 12 * 100%;
    }

  }

}

@media (min-width: 48rem) { // 768px

  @for $i from 1 to 13 {

    .col-md-#{$i} {
      width: $i / 12 * 100%;
      max-width: $i / 12 * 100%;
    }

  }

}

@media (min-width: 62rem) { // 992px

  @for $i from 1 to 13 {

    .col-lg-#{$i} {
      width: $i / 12 * 100%;
      max-width: $i / 12 * 100%;
    }

  }

}

@media (min-width: 75rem) { // 1200px

  @for $i from 1 to 13 {

    .col-xl-#{$i} {
      width: $i / 12 * 100%;
      max-width: $i / 12 * 100%;
    }

  }

}
